body
    header(id="siteHeader", class="siteGrid")
        div(id="siteHeaderLogo")
            li Logo
        div(id="siteHeaderMobileNav")
            a(href='#') Navigation
        div(id="siteHeaderNav")
            a(href='#') Link 1
            a(href='#') Link 2
            a(href='#') Link 3
            a(href='#') Link 4
            a(href='#') Link 5
            a(href='#') Link 6
        div(id="siteHeaderSearch")
            a(href='#') Search
    section(id="siteMain", class="siteGrid")
        div(id="siteMainScrollImage")
        div(id="siteMainPersonaInfo")
            div(id="PIImage")
            div(id="PIDetails")
                li <b>Dr. Marvel Fury M.D.</b>
                li <i>Bachelor of Dentistry and Bachelor of Surgery, NUS</i>
            div(id="PIAccolades")
                li Young Dentists' Award, 2018
        div(id="siteMainWhatWeDo")
            div(class="whatWeDoDiv")
                img(src="images/dentist-tools.png")
                div Scaling
            div(class="whatWeDoDiv")
                img(src="images/caries.png")
                div Caries Risk Assessment
            div(class="whatWeDoDiv")
                img(src="images/teeth.png")
                div Pits and Fissure Sealing
            div(class="whatWeDoDiv")
                img(src="images/mouthwash.png")
                div Fluoride Therapy
            div(class="whatWeDoDiv")
                img(src="images/dental.png")
                div Trauma Management
            div(class="whatWeDoDiv")
                img(src="images/braces.png")
                div Removable Orthodontics
        div(id="siteMainHandiwork")
    section(id="siteClose", class="siteGrid")                                          
        div(id="siteCloseContactUs")
            h3 Contact Us
            li <b>Address:</b>
            li 4F. ARA Tower 1317-16 Seocho-dong, Seocho-gu, Seoul, Korea / TEL : +82-70-7204-2884 / E-mail : cindyen@cindyclinic.com
        div(id="siteCloseEmailNewsletter")
            h3 Enter your email to subscribe to newsletter: