head
    title Mobile First Design
    meta(charset="utf-8")
    meta(name="viewport", content="width-device-width, initial-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet" href="css/app.css" media="screen" title="notitle")
    script(type="text/javascript" src="js/jquery-3.3.1.js")
    script(type="text/javascript" src="js/app.js")

